<% include partials/header %>

<div id="about" class= "container">
    <div class="row">
        <div class="col-lg-6">
              <h1>So what is the Author Marketplace?</h1>
                <h4>The authors marketplace is your one stop shop for all the tricks and advice you'll need to take the step towards being a self published author</h4>
        </div>
        
       
            <div class="col-lg-6">
                <div class="img-thumbail">
                    <img class="img-thumbnail"src="https://cdn.pixabay.com/photo/2014/05/02/21/49/home-office-336373_1280.jpg">
                </div>
                
            </div>
        
       
       
         
    </div>
 
</div>

<div id="list" class="container">
     <div  class="col-lg-6">
         <section>
              <h1>Becoming a writer checklist</h1>
              <ul >
                  <li>First step is easy: decide if you have a story worth telling</li>
                  <li>Next. Get to writing. Every writer has their own style for how to start. Some use notes and mapping and others write on the fly. Decide which method works best for you.</li>
                  <li>Take care to make sure you iron out your characters and dialogue. This will make or break your story and will help <em>you </em>to understand your characters better.</li>
                  <li>Once you're done and you feel your story has reached its potential, then its time to begin editing. This is one of my most important steps. Don't rush it, your readers will notice a poorly edited book and could hold it against you.</li>
                  <li>Once you've done your edits, its best to hand it over to someone who isn't close to the project. There are lots of options for paid editors out there and some can be found on this site as well.</li>
                  <li>Come up with a cover design. They say "don't judge a book by it's cover" but no matter how hard people try to keep this mantra in mind, in the end your cover art is very important. If you can design your own covers, then go for it, but take care to make sure the image is crisp and fits properly on the cover.</li>
                  <li>We're not done yet. Once you have a cover and your book is edited, you'll need to purchase an ISBN if you intend to self publish. Some avenues like kindle don't require the authors to provide their own ISBN, but if you intend to have your book printed, then you'll need an ISBN
                      <ul>
                          <li>Check the Necesseties tab to be directed to a place to get ISBNs.</li>
                      </ul>
                  </li>
                  <li>Now its time to decide how you will distribute your book.</li>
                  
              </ul>
         </section>
             
              
        </div>
</div>


<% include ./partials/footer %>