<% include partials/header %>


<div class="container">
     <div class="jumbotron"  style= "background-image: url(https://images.unsplash.com/photo-1552332271-fcd3c889767e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80);"
  >
         <h1>Cover Artists</h1>
        <h3>A specially put together list of cover artists</h3> 
    </div>
  
</div>
   

<div class="container text-center">
     <div class="row ">
        <div class="col-lg-4 col-md-6 pt-4">
            <div id="hello" class="card">
                <img  class= "card-img-top" src="https://thebookcoverdesigner.com/wp-content/uploads/2019/04/BookdesignBetiBup33_5184-324x519.jpg">
                 <h4>Username: BetiBup33</h4>
                 <p>Side Note: "This is the cover artists I used for the first three books I wrote and I was very pleased with the result."</p>
                <p>Average Cost per cover: $30-55</p>
                <div>
                    <button class="btn btn-info btn-lg mb-4"><a href="https://thebookcoverdesigner.com/designers/betibup33/" target="_blank">Click here to visit</a>
               </button>
                </div>
             </div>
        </div>
        <div class="col-lg-4 col-md-6 pt-4 ">
            <div  id="hello" class="card">
                <img class= "card-img-top" src="https://thebookcoverdesigner.com/wp-content/uploads/2018/12/Rancher.jpg">
                 <h4>Username: Rocking Book Covers</h4>
                 <p>Average Cost per cover: $70 </p>
                <div>
                    <button class="btn btn-info btn-lg mb-4"><a href="https://thebookcoverdesigner.com/designers/rocking-book-covers/" target="_blank">Click here to visit</a>
               </button>
                </div>
             </div>
        </div>
        <div class="col-lg-4 col-md-6 pt-4">
            <div class="card">
                <img class="card-img-top" src="https://thebookcoverdesigner.com/wp-content/uploads/2019/03/WhomGods-ecover-insta-324x519.jpg">
                 <h4>Username: mmrainey </h4>
                 <p>Average Cost per cover: $120</p>
                <div>
                    <button class="btn btn-info btn-lg mb-4"><a href="https://thebookcoverdesigner.com/designers/mmrainey/" target="_blank">Click here to visit</a>
               </button>
                </div>
             </div>
             
        </div>
            
        <div class="col-lg-4 col-md-6 pt-4">
            <div class="card">
                <img class="card-img-top" src="https://thebookcoverdesigner.com/wp-content/uploads/2019/04/skindeep-324x519.jpg">
                 <h4>Username: Inkubus</h4>
                 <p>Average Cost per cover: $75</p>
                <div>
                    <button class="btn btn-info btn-lg mb-4"><a href="https://thebookcoverdesigner.com/designers/inkubus/" target="_blank">Click here to visit</a>
               </button>
                </div>
             </div>
             
        </div>
            
        <div class="col-lg-4 col-md-6 pt-4">
            <div class="card">
                <img class="card-img-top" src="https://thebookcoverdesigner.com/wp-content/uploads/2019/03/scion-of-flame-324x519.jpg">
                 <h4>Username: Warrendesign </h4>
                 <p>Average Cost per cover: $35-120</p>
                <div>
                    <button class="btn btn-info btn-lg mb-4"><a href="https://thebookcoverdesigner.com/designers/warrendesign/" target="_blank">Click here to visit</a>
               </button>
                </div>
             </div>
             
        </div>
        <div class="col-lg-4 col-md-6 pt-4">
            <div class="card">
                <img class="card-img-top" src="https://fiverr-res.cloudinary.com/w_1260,q_auto,f_auto,pg_1/20181012/Breaking-The-Cycle-Cover_u457bj">
                 <h4>Username: Florfi' </h4>
                 <p>Average Cost per cover: $240</p>
                <div>
                    <button class="btn btn-info btn-lg mb-4"><a href="https://thebookcoverdesigner.com/designers/warrendesign/" target="_blank">Click here to visit</a>
               </button>
                </div>
             </div>
             
        </div>
            
      
       
    </div>
   
</div>
   
   




<% include ./partials/footer %>