<% include partials/header %>
<div class="container">
    <div id="jumbo" class="jumbotron"  style= "background-image: url(https://images.unsplash.com/photo-1552332271-fcd3c889767e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80)">
         <h1>Welcome to the Editors homepage</h1>
<h3>Here you'll find a selection of compiled affordable, yet quality, editors</h3> 
    </div>
  
</div>

<div class="container text-center ">
    <div class="row">
        <div class="col-lg-4 col-md-6 pt-4 ">
            <div class="card border ">
                 <h4>Username: Elliefirestone</h4>
                <p>Source: Fiverr</p>
                <p>Price: $10/ 1000 words</p>
                <P>Rating: 5 stars out of 89 reviews</P> 
                <p>Testimonial: Ellie has been amazing working with me on this project and I would highly recommend for anyone wanting an editor on a book they are writing Ellie is just person to help you with this.
                </p>
                <div>  
                    <button class="btn btn-info btn-lg mb-4"><a href="https://www.fiverr.com/elliefirestone/proofread-and-edit-your-kidlit-ya-or-adult-book?context_referrer=search_gigs&ref_ctx_id=9548a01b-435c-48bc-8373-749ed707aa6e&pckg_id=1&pos=4&context_type=auto&funnel=557071aa-55dd-41f4-b739-db3161778a6e" target="_blank">Click here to visit</a>
                   </button>
               </div>
              
           </div>
        
        </div>
        <div class="col-lg-4 col-md-6 pt-4">
            <div class="card border ">
                 <h4>Username: Inspiredwriter2</h4>
                <p>Source: Fiverr</p>
                <p>Price: $10/ 1000 words</p>
                <P>Rating: 4.9 stars out of 428 reviews</P> 
                <p>Testimonial: If you guys are looking for a perfect professional editor, you don't need to search any more. It doesn't matter how long or short it is--they'll take it. 
                The seller is open to your needs and concerns and replies quickly to messages. And they do great editing. Word choice, sentence flow, and grammar were especially great! Would totally recommend!
                </p>
                <div>
                    <button class="btn btn-info btn-lg mb-4"><a href="https://www.fiverr.com/inspiredwriter2/be-your-book-editor-and-professional-proofreader?ref_ctx_id=ff369a32-d1c7-4418-bbf4-38c69792cee0" target="_blank">Click here to visit</a>
                    </button>
               </div>
                
           </div>
        
        </div>
        <div class="col-lg-4 col-md-6 pt-4">
            <div class="card border">
                 <h4>Username: Christie Stratos</h4>
                <p>Source: proofpositvepro.com</p>
                <p>Price: $ 0.05 / word</p>
                <P>Testimonial:Where do I even begin? After working with a senior editor of a massive publishing house, as well as a lesser-known small press, 
                it was quickly made clear that Christie Stratos has the skill that belongs with the big names. She’s got an uncanny ability to keep innumerable small details as well as huge, elaborate plots under control and organized. 
                If not for her, my books would be all plot holes and horrible purple prose. It’s been an amazing experience to work with her, and I look forward to sending her my next book!
                </P> 
                <div>
                    <button class="btn btn-info btn-lg mb-4"><a href="http://www.proofpositivepro.com/" target="_blank">Click here to visit</a>
                    </button>
                </div>
                
           </div>
        
        </div>
        <div class="col-lg-4 col-md-6 pt-4">
            <div class="card border ">
                 <h4>Username: Elliefirestone</h4>
                <p>Source: Fiverr</p>
                <p>Price: $10/ 1000 words</p>
                <P>Rating: 5 stars out of 89 reviews</P> 
                <div>
                    <button class="btn btn-info btn-lg mb-4"><a href="https://www.fiverr.com/elliefirestone/proofread-and-edit-your-kidlit-ya-or-adult-book?context_referrer=search_gigs&ref_ctx_id=9548a01b-435c-48bc-8373-749ed707aa6e&pckg_id=1&pos=4&context_type=auto&funnel=557071aa-55dd-41f4-b739-db3161778a6e" target="_blank">Click here to visit</a>
                    </button> 
                </div>
               
           </div>
        
        </div>
   
    </div>
    
    
</div>


<% include ./partials/footer %>
