<% include partials/header %>
  <head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/home.css">
   <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"> 
  </head>
  
 

  <div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh">
      <header class="jumbotron ">
           <h1>Welcome to the Author Marketplace</h1>

        <h3>Your best selection of useful resources for independent authors!</h3> 
      </header>

    
</div>


<% include ./partials/footer %>
