<% include partials/header %>


<div class="container">
   <h1>So what now?</h1>
<h4>Writing a book is only half the battle. In order to get things moving, here are a few things you're goig to need</h4>
<ul>
    <li>ISBNS
    <ul>
        <li>Every published book needs an ISBN. Especially printed ones</li>
        
    </ul>
    
    </li>
    <li>Library of Congress number
    <p>If you want your book in the LOC, its crucial that you apply for a number <strong>before </strong>your book is schdueled to be release.</p></li>
</ul> 
</div>

<% include ./partials/footer %>